/*
 *	GENERAL
 ------------------------------------------------------ */
/* border-box */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $color-Almost-White;
  color: $color-Medium-Gray;
  margin: 0;

  font: {
    size: $Font-size-base;
    family: $Font-family;
  }
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
