/*
 *	VARIABLES
 ------------------------------------------------------ */
// Colors
$color-Almost-White: hsl(0, 0%, 98%);
$color-Medium-Gray: hsl(0, 0%, 41%);
$color-Almost-Black: hsl(0, 0%, 8%);

// Typography
$Font-family: "Epilogue", sans-serif;
$Font-size-base: 1em;
$font-size-p: 18px;
