@import "../css/normalize.css";
@import "_variables";
@import "_general";

// useful classes
.hidden {
  display: none;
}

/*
 *	CONTENT
 ------------------------------------------------------ */
/* Header */
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.logo-snap {
  max-width: 6em;
}

.btn-nav-open,
.btn-nav-close {
  background-size: contain;
  border: none;
  padding: 0;
  width: 3em;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.btn-nav-open {
  background: url(/assets/images/icon-menu.svg) no-repeat;
}

.btn-nav-close {
  background: url(/assets/images/icon-close-menu.svg) no-repeat;
  height: 2em;
  z-index: 1;
}

nav {
  min-height: 100vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  line-height: 2.5em;
  position: absolute;
  right: 0;
  padding-top: 3em;
  padding-left: 1.5em;
  background: $color-Almost-White;
}

details {
  display: flex;
  flex-direction: column;

  a {
    padding-left: 1.5em;

    &:hover,
    &:focus {
      color: $color-Almost-Black;
    }
  }
}

summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8em;
  list-style: none;
}

.arrow {
  transition: 0.5s all ease-in-out;
}

.register {
  border: 1px solid $color-Medium-Gray;
  border-radius: 15px;
  padding: 1em 1.5em;
}

summary,
.about,
.careers,
.login,
.register {
  &:focus,
  &:hover {
    cursor: pointer;
    color: $color-Almost-Black;
  }
}

summary:focus,
summary:hover {
  path {
    stroke: $color-Almost-Black;
  }
}

.register:hover,
.register:focus {
  border: $color-Almost-Black;
}

/* Main*/
main {
  display: grid;
}

h1,
.main-text,
.btn-learn {
  margin: 0.5em auto;
}

h1 {
  text-align: center;
  color: $color-Almost-Black;
  margin-top: 1.5em;
}

.main-text {
  padding: 0 1em;
  text-align: center;
  line-height: 1.6em;
}

.btn-learn {
  display: block;
  padding: 1em 1.5em;
  color: $color-Almost-White;
  text-decoration: none;
  background: $color-Almost-Black;
  border-radius: 15px;

  &:hover,
  &:focus {
    color: $color-Almost-Black;
    font-weight: 700;
    background: $color-Almost-White;
    border: 1px solid $color-Almost-Black;
  }
}

.clients {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  padding: 0 1em;

  li {
    list-style: none;
  }
}

/* Footer */
.attribution {
  font-size: 0.6875em;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
