@import url(c:\laragon\www\FrontendMentor\JS\JUNIOR\intro-section-with-dropdown-navigation-main\assets\css\normalize.css);
/*
 *	VARIABLES
 ------------------------------------------------------ */
/*
 *	GENERAL
 ------------------------------------------------------ */
/* border-box */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #fafafa;
  color: dimgray;
  margin: 0;
  font-size: 1em;
  font-family: "Epilogue", sans-serif;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  text-decoration: none;
  color: dimgray;
}

.hidden {
  display: none;
}

/*
 *	CONTENT
 ------------------------------------------------------ */
/* Header */
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5em 1em;
}

.left-header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.logo-snap {
  max-width: 6em;
}

.btn-nav-open,
.btn-nav-close {
  background-size: contain;
  border: none;
  padding: 0;
  width: 3em;
}

.btn-nav-open:hover, .btn-nav-open:focus,
.btn-nav-close:hover,
.btn-nav-close:focus {
  cursor: pointer;
}

.btn-nav-open {
  background: url(/assets/images/icon-menu.svg) no-repeat;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.btn-nav-close {
  position: fixed;
  right: 1em;
  background: url(/assets/images/icon-close-menu.svg) no-repeat;
  height: 2em;
  z-index: 1;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

nav {
  height: 100%;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2.5em;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 4em;
  padding-left: 1.5em;
  background: #fafafa;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
}

.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 350ms ease-out;
  transition: -webkit-transform 350ms ease-out;
  transition: transform 350ms ease-out;
  transition: transform 350ms ease-out, -webkit-transform 350ms ease-out;
}

.blur {
  background: black;
  position: fixed;
  height: 100%;
  width: 35%;
  left: 0;
  top: 0;
  -webkit-filter: opacity(60%);
          filter: opacity(60%);
}

details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

details a {
  padding-left: 1.5em;
}

details a:hover, details a:focus {
  color: #141414;
}

details a svg {
  margin-right: 0.5em;
}

.dropdown1-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown2-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
  list-style: none;
}

.arrow {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.log-reg {
  margin: 0;
  position: relative;
  right: 0;
  list-style: none;
  padding: 0;
}

.register {
  border: 1px solid dimgray;
  border-radius: 15px;
  padding: 1em 1.5em;
  background: #fafafa;
}

.login {
  background: none;
  border: none;
}

.register,
.login {
  font-family: "Epilogue", sans-serif;
  color: dimgray;
  font-size: 1em;
}

summary:focus, summary:hover,
.about:focus,
.about:hover,
.careers:focus,
.careers:hover,
.login:focus,
.login:hover,
.register:focus,
.register:hover {
  cursor: pointer;
  color: #141414;
}

summary:focus path,
summary:hover path {
  stroke: #141414;
}

.register:hover,
.register:focus {
  border: #141414;
}

/* Main */
h1,
.main-text,
.btn-learn {
  margin: 0.5em auto;
}

h1 {
  text-align: center;
  color: #141414;
  margin-top: 1.5em;
}

.main-text {
  padding: 0 1em;
  text-align: center;
  line-height: 1.6em;
}

.btn-learn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em 1.5em;
  color: #fafafa;
  text-decoration: none;
  background: #141414;
  border-radius: 15px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.btn-learn:hover, .btn-learn:focus {
  color: #141414;
  font-weight: 700;
  background: #fafafa;
  border: 1px solid #141414;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding: 2em 1em;
}

.clients li {
  list-style: none;
}

/* Footer */
footer {
  margin: 2em 0;
}

.attribution {
  font-size: 0.6875em;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 599px) {
  .left-header-wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
  }
  .logo-snap {
    width: 84px;
    height: 27px;
  }
  #nav-bar {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
    padding: 0;
    line-height: 1.2em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  details a {
    padding: 0;
  }
  .btn-nav-open {
    display: none;
  }
  .dropdown1-wrap,
  .dropdown2-wrap {
    position: absolute;
    margin-top: 1em;
    line-height: 1.5em;
    background: #fff;
    padding: 1.3em;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.233);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.233);
  }
  .dropdown1-wrap {
    left: 5em;
  }
}

@media screen and (min-width: 799px) {
  .log-reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  .register:hover,
  .register:focus {
    border: 1px solid #141414;
  }
}

@media screen and (min-width: 999px) {
  body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 5em;
    max-width: 1050px;
    margin: 0 3em;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
  }
  h1 {
    font-size: 4em;
  }
  h1,
  .main-text {
    text-align: left;
  }
  .main-text {
    padding: 0;
  }
  .btn-learn {
    margin: 5em 0;
  }
  .clients {
    padding: 0;
    gap: 2em;
    margin-bottom: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1199px) {
  main {
    gap: 10em;
    margin: 0 6em;
  }
}

@media screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
  }
  header {
    width: 90%;
  }
  .dropdown1-wrap {
    left: 9em;
  }
}
/*# sourceMappingURL=main.css.map */